<p>
  <b>Post title:</b>
  <%=h @comment.post.title %>
</p>

<p>
  <b>Comment:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Edit', edit_author_post_comment_path(@author,@post,@comment) %> |
<%= link_to 'Back', author_post_path(@author,@post) %>