<div>
<span class="author_post_title"><%=h post.title %></span>
<span class="author_post_body"><%= simple_format post.body %></span>

<% comments =  Comment.find_all_by_post_id(post.id) %>
<% comments.each do |comment| %>
  <span class="author_post_comment">
  <%=h render 'comments/comment', :object => comment %>
  </span>
<% end %>
<%=h link_to 'Show just this post', author_post_path(post.author_id,post) %>
</div>